@import url(./../styles/normalize.css);
@import url(./../fonts/inter.css);
@import url(./../blocks/page/page.css);
@import url(./../blocks/header/header.css);
@import url(./../blocks/header/__logo/header__logo.css);
@import url(./../blocks/profile/profile.css);
@import url(./../blocks/profile/__avatar/profile__avatar.css);
@import url(./../blocks/profile/__content/profile__content.css);
@import url(./../blocks/profile/__firstname/profile__firstname.css);
@import url(./../blocks/profile/__subtext/profile__subtext.css);
@import url(./../blocks/profile/__edit-button/profile__edit-button.css);
@import url(./../blocks/profile/__add-button/profile__add-button.css);
@import url(./../blocks/elements/elements.css);
@import url(./../blocks/element/element.css);
@import url(./../blocks/element/__maskgroup/element__maskgroup.css);
@import url(./../blocks/element/__group/element__group.css);
@import url(./../blocks/element/__title/element__title.css);
@import url(./../blocks/element/__like/element__like.css);
@import url(./../blocks/footer/footer.css);
@import url(./../blocks/footer/__copyright/footer__copyright.css);
@import url(./../blocks/popup/__form/popup__form.css);
@import url(./../blocks/popup/__title/popup__title.css);
@import url(./../blocks/popup/__button/popup__button.css);
@import url(./../blocks/popup/__input/popup__input.css);
@import url(./../blocks/popup/__close-button/popup__close-button.css);
@import url(./../blocks/popup/__content/popup__content.css);
@import url(./../blocks/popup/popup.css);
@import url(./../blocks/popup/_open/popup_open.css);
@import url(./../blocks/profile/__plus/profile__plus.css);
@import url(./../blocks/element/__button/element__button.css);
@import url(./../blocks/element/__button-delete/element__button-delete.css);
@import url(./../blocks/element/__like/_activated/element__like_activeted.css);
@import url(./../blocks/popup/__close-button/_image_scale/popup__close-button_image_scale.css);
@import url(./../blocks/popup/__image-content/popup__image-content.css);
@import url(./../blocks/popup/__image-scale/popup__image-scale.css);
@import url(./../blocks/popup/__image-title/popup__image-title.css);
@import url(./../blocks/popup/_image_scale/popup_image_scale.css);
@import url(./../blocks/popup/__input-conainer/popup__input-conainer.css);
@import url(./../blocks/popup/__input/_type_error/form__input_type_error.css);
@import url(./../blocks/popup/__text-error/popup__text-error.css);
@import url(./../blocks/popup/__text-error/_show/popup__text-error_show.css);
@import url(./../blocks/popup/__set/popup__set.css);
@import url(./../blocks/popup/__button/_inactive/popup__button_inactive.css);
@import url(./../blocks/popup/__input/_link_image/popup__input_link_image.css);
@import url(./../blocks/profile/__avatar/_redact-icon/profile__avatar-edit-button.css);
@import url(./../blocks/profile/__container/profile__container.css);
@import url(./../blocks/element/__like-sum/element__like-sum.css);
@import url(./../blocks/popup/_card_remove/popup_card_remove.css);